__pycache__/
*.pyc

dist/
build/

launcher_state.json

*_report.txt
*_inspect.txt
*_error.log
*.html

交付包_交互式BOM/
用户输入文件放这里/
源文件/

assets/
projects/

ABM_MCBRX_V1_1.xlsx
ABM_MCBRX_V1_1.xml
placement.htm
abm_mcbrx_v1_1.pdf
ABM_MCBRX_V1_1-B.pdf
TOP.png
Bottom.png
gemini-code-1779687447763.py
